body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCx6zLguhuZr3Dv0uJJRr0kZenwNXkUxgIelG2IBV-sCUaeszgbg");
    font-family: 'Pacifico', cursive;
    background-size: cover;
    

}
 .contanier {

    margin: 60px 0;
 }
h1 {
    margin: 15px 0;    
    font-size: 80px;
     color: rgb(190, 157, 95);
     text-align: center;
        
}

p{

    
    font-size: 60px;
    color: rgb(190, 157, 95);
    text-align: center;
    margin: 20px 0; 
        
}

.score { 
   font-size:50px; 
   margin: 5px 0;
    color: rgb(167, 0, 0);
   text-align: center;

}

